<template lang="pug">
  #app
    header
    router-view
</template>

<script>
import header from '@/components/Header';

export default {
  name: 'App',
  components: {
    header,
  },
};

</script>

<style lang="sass">

  @import './assets/sass/main.sass'

  #app
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #2c3e50
    margin-top: 60px

</style>
